#slider {
    height: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden; //fix jumps during animfixed
    a {
        font-size: 32px;
        font-weight: 100;
        line-height: 88px;
        position: relative;
        display: block;
        height: 88px;
        padding-left: 232px;
        text-decoration: none;
        text-transform: uppercase;
        color: white; 
        display: none;
        &:before, &:after {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            height: 100%;
            content: '';
            background: $green;
        }
        &:before {
            z-index: -1;
            width: 100%;
            transition: transform $p-t-h;
            transform: scaleX(0);
            transform-origin: 100% 100%;
        }
        &:after {
            width: 88px;
            background: $green image-url('play.svg') center no-repeat;
        }
        &:hover:before {
            transform: scaleX(1);
        }
    }
    section {
        height: 100%;
        width: 100%;
        transition: opacity 0 1.5s, transform 0 1.5s;
        transform: translate3d(100px,0,0);
        transition: opacity 1s, transform 1.5s cubic-bezier(.13, .63, .13, 1);
        //height:100%;
    }
    img {
        width: 112%;
        min-width: 100%;
        max-width: none;
        margin: 0 auto;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
    }
    .description-holder {
        font-family: $title-font-family;
        position: absolute;
        z-index: 1;
        right: 120px;
        bottom: 48px;
        width: 512px;
        height: 280px;
        color: white;
        transform: translate3d(40px,0,0);
        opacity: 0;
        transition:  transform 0 2s, opacity .5s;
        
    }
    .description {
        position: relative;
        padding: 32px;
        border: 1px solid rgba(255,255,255,.4);
        background: rgba(32, 32, 32, .7);
    }
    .heading {
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 24px;
        text-transform: uppercase;
        font-weight: normal;
    }
    .text {
        font-size: 24px;
        font-weight: 100;
        line-height: 28px;
    }
    .blur-stack {
        width: 100vw;
        height: 100vh;
        transform: none;
        backface-visibility: visible;
    }
    &.loaded {
        section {
            &.active {
                transform: translate3d(0,0,0);
                .description-holder{
                    transition: transform 1.5s cubic-bezier(.13, .63, .13, 1), opacity 0s;  
                    transform: translate3d(0,0,0);
                    opacity: 1;
                }
            }
        }
    }
}
.bullets {
    position: absolute;
    z-index: 3;
    right: 42px;
    bottom: 126px;
    width: 104px;
    height: 202px;
    top: auto;
    opacity: 1;
    left: auto;
    transform: translate3d(0, 0, 0);
    div {
        background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22white-b-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20width%3D%2228%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2028%2028%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22m14%200.875c7.236%200%2013.125%205.884%2013.125%2013.125%200%207.236-5.889%2013.125-13.125%2013.125-7.241%200-13.125-5.889-13.125-13.125%200-7.241%205.884-13.125%2013.125-13.125m0-0.875c-7.733%200-14%206.267-14%2014%200%207.73%206.267%2014%2014%2014%207.73%200%2014-6.27%2014-14%200-7.733-6.27-14-14-14zm0%206.832c3.961%200%207.168%203.209%207.168%207.168%200%203.961-3.207%207.168-7.168%207.168-3.959%200-7.168-3.207-7.168-7.168%200-3.959%203.209-7.168%207.168-7.168m0-0.832c-4.411%200-8%203.589-8%208%200%204.412%203.589%208%208%208%204.412%200%208-3.588%208-8%200-4.411-3.588-8-8-8z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
            position: relative;
            width: 28px; 
            height: 28px;
            margin-top: 16px;
            margin-left: 72px;
            cursor: pointer;
            
        &:before { 
            position: absolute;
            display: block;
            width: 28px;
            height: 28px;
            content: '';
            transition: opacity $p-t-h;
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22green-b-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20width%3D%2228%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2028%2028%22%3E%09%3Cpath%20fill%3D%22%2396B03C%22%20clip-rule%3D%22evenodd%22%20d%3D%22m14%200c-7.732%200-14%206.268-14%2014%200%207.731%206.268%2014%2014%2014%207.731%200%2014-6.269%2014-14%200-7.732-6.269-14-14-14zm0%2021.547c-4.168%200-7.547-3.379-7.547-7.547s3.379-7.547%207.547-7.547%207.547%203.379%207.547%207.547-3.379%207.547-7.547%207.547z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
            opacity: 0;
        }
        &.active {
            cursor: default;
        }
        &:hover,
        &.active {
            &:before {
                opacity: 1;
            }
        }
    }
}
