#preloader {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    z-index: 101;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    transition: transform .5s, z-index 0s .5s, opacity .5s;
    opacity: 1;
    background: #96b03c; 
    .holder {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1920px;
        height: 1200px;
        margin: -600px auto auto -960px;
    }

    .logo {
        //display: none;
        position: absolute;
        z-index: 0;
        width: 100%;
        margin: -20px 0 0 30px;
        height: 100%;
        top: 0;
        left: 0;
        background: image-url('logo2.gif') no-repeat center;
        background-size: 682px;

        @media only screen and (min-width: 641px){
            margin: -48px 0 0 74px;
        } 
        @media only screen and (max-width:792px){
            margin: -50px 0 0 62px;
            background-size: 600px auto;
        }
        @media only screen and (max-width:580px){
            background-size: 400px auto;
            margin: -50px 0 0 24px;
        }
        @media only screen and (max-width:380px){
            background-size: 260px auto;
            margin: -50px 0 0 0px;
        }
    }
    .line-block-1 {
        position: absolute;
        top: 468px;
        width: 100%;
        height: 100%;
        transform: rotate(-25deg); 
        div {
            position: absolute;
            width: 120%;
            height: 1px;
            transform: scale(0, 1);
            background: rgba(255, 255, 255, .2);
            backface-visibility: hidden; 
        }
        .line-1 {
            top: 15px;
            animation-delay: .4s; 
        }
        .line-2 {
            top: 31px;
            width: 1123px;
            animation-delay: .1s; 
            @media only screen and (max-width:792px){
                width: 1131px;
            }
        }
        .line-3 {
            top: 169px; 
        }
        @media only screen and (max-width:792px){
            top: 460px;
        }
    }
    .line-block-3 {
        top: 791.391px;
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        transform: rotate(33deg); 
        .line-4 {
            position: absolute;
            height: 1px;
            top: 0;
            left: 24%;
            width: 60%;
            transform-origin: 100% 100%;
            background: rgba(255, 255, 255, .2);
            backface-visibility: hidden;
            transform: scale(1, 0); 
            @media only screen and (max-width:792px){
                top: -12px;
            }
        }
    }    
    .line-block-2 {
        position: absolute;
        top: 0;
        left: 50%;
        width: 106px;
        height: 100%;
        margin-left: -92px; 
        div {
            position: absolute;
            top: 0;
            width: 1px;
            height: 100%;
            background: rgba(255, 255, 255, .2);
            transform: scale(1, 0); 
        }
        .line-2 {
            right: 0; 
        }
        @media only screen and (max-width:792px){
            margin-left: -85px;
            width: 94px;
        }
    }
    .dom-loaded &{
        .line-block-1, .line-block-2, .line-block-3{
            div { 
                animation-duration: 6s;
                animation-iteration-count: infinite; 
            }
        }
        .line-block-1, .line-block-3 {
            div{
                animation-name: preloader-lines;
            }
        }
        .line-block-3 div {
            animation-direction: reverse; 
        }
        .line-block-2 div {
            animation-duration: 5s;
            animation-delay: 1s;
            animation-name: preloader-lines-vertical; 
        }
    }
    .loaded & {
        z-index: -1;
        transform: scale(1.2);
        transform-origin: 50% 30%;
        opacity: 0;
        animation: subloading-out .5s;
        .logo{
            opacity: 0;
            transition: opacity .5s;
        }
    }
    .sub-loading  &{
        transition: none;
        z-index: 101;
        transform: scale(1);
        transform-origin: 50% 30%;
        animation: subloading .3s;
        opacity: 1;
        animation-fill-mode: both;
        .logo{
            opacity: 1;
        }
    }
}

@keyframes subloading-out {
    from {
        opacity: 1;
        transform: translate3d(0,0,0)
    }
    to {
        opacity: 1;
        transform: translate3d(-100%,0,0)
    }
}
@keyframes subloading {
    from {
        transform: translate3d(-100%,0,0)
    }
    to {
        transform: translate3d(0,0,0)
    }
}

@keyframes preloader-lines-vertical {
    0% {
        transform: scale(1, 0);
        transform-origin: 100% 100%;
    }

    49.999% {
        transform: scale(1);
        transform-origin: 100% 100%; 
    }

    75.0% {
        transform: scale(1);
        transform-origin: 0 0; 
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 0; 
    } 
}

@keyframes preloader-lines {
    0% {
        transform: scale(0, 1);
        transform-origin: 0 0; 
    }

    49.999% {
        transform: scale(1);
        transform-origin: 0 0; 
    }

    75.0% {
        transform: scale(1);
        transform-origin: 100%; 
    }

    100% {
        transform: scale(0, 1);
        transform-origin: 100%; 
    } 
}
