.clients{
    .description-box{
        margin-bottom: 80px;
        @media only screen and (max-width:640px){
            margin-bottom: 20px;;
        }
    }
    @media #{$medium}{
        margin-bottom: 240px;
        margin-top: 168px;
        .description-box{
            padding-top: 0;
            width: 60%;
            .title{
                position: absolute;
                top: -80px;
            }   
            @media only screen and (max-width:960px){
                width: 66%;
                .tittle{
                    padding-right: 0;
                }
                .copy{
                    padding-right: 14px;
                }
            }
        }
    }
    @media only screen and (max-width:1600px){
        margin-bottom: 80px;
    }
    @media only screen and (max-width:1440px){
        margin-top: 116px;
    }
    @media only screen and (max-width:640px){
        margin-top: 16px;
    }
}
.client{
    width: 100%;
    height: 176px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &.large{
        height: 352px;
    }
    @media #{$medium}{
        width: 33.3333%;    
    }
    @media #{$large}{
        width: 20%;    
    }

    @extend %block-slide-hover-animation;

    .back {
        background: inherit;
        .title{
            font-size: 32px;
            font-weight: 100;
            margin-bottom: 24px;
        }
        p{
            margin: 0;
        }
    }
}
