.about-company{
    overflow: hidden;
}
.workflow{
    position: relative;
    .pipeline{
        padding-top: 48px;
        .icon{
            background-image: image-url('about/icons/56x56-gear.svg');
            background-color: #ede0ac;
        }
        .head{
            @media #{$medium}{
                font-size: 32px;
                max-width: 75%;
            }
        }
    }
//    .box{
//        @media only screen and (max-width:800px){
//            width: 100%;
//        }
//    }
}
.ebrr{
    background: #296497;
    color: #fff;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    height: 352px;
    .icon{
        background-image: image-url('about/icons/logo-ebrr-small.svg');

    }
    .back {
        background: inherit;
    }
    .front-wrapper{
        position: relative;
        height: 352px;
        min-height: 0;
        img{
            max-width: none;
            @extend %center-block;
        }
        .title{
            font-size: 18px;
            text-align: center;
            line-height: 80px;
            font-weight: 100;
            &:before, &:after {
                opacity: .4;
                height: 1px;
                content: '';
                background: white;
                width: 30%;
                margin: 0 auto;
                display: block;
            }
        }
    }
    @extend %block-slide-hover-animation;
}
