.cta-section{
    background: #aaa;
    display: block;
    background:
        image-url('about/footer/tree-2.png') 45% bottom no-repeat,
        image-url('about/footer/tree.jpg') left bottom no-repeat,
        image-url('about/footer/tree-3.png') right bottom no-repeat;
    background-color: $green;
    .columns{
        padding: 0;
    }
    .title{
        white-space: nowrap;
        @media only screen and (max-width:640px){
            white-space: normal;
        }
    }
    .title, &{
        color:white
    }
    ul{
        list-style: none;
        padding:0;
        margin:0 0 0 140px;
    }
    .text{
        font-size: 22px;
        line-height: 24px;
        font-family: 'Roboto';
        font-weight: 100;
        margin-bottom: 68px;
        text-shadow: 1px 1px 1px grey;
        padding-right: 16px;
    }
    .copy{
        padding-left: 72px;
        max-width: 600px;
        @media only screen and (max-width:1600px){
            margin-top: 200px;
        }
        @media only screen and (max-width:800px){
            max-width: 420px;
        }
        @media only screen and (max-width:640px){
            max-width: 100%;
        }
        @media only screen and (max-width:480px){
            padding-left: 30px;
        }
    }
    .button{
        width: 320px;
        text-align: center;
        margin-bottom: 16px;
        @media only screen and (max-width:380px){
            width: 272px;
        }
    }
    .title{
        line-height: 48px;
        margin: 120px 0 28px 0;
        font-weight: 100;
    }

    @media only screen and (max-width:1600px){
        background:
            image-url('about/footer/tree-2.png') 45% bottom no-repeat,
            image-url('about/footer/tree-small.jpg') -18px 18px no-repeat,
            image-url('about/footer/tree-3.png') right bottom no-repeat;
        background-color: $green;
        padding-bottom: 80px;
        .large-5{
            width: 100%;
        }
        ul{
            margin: 0 50px;
            li{
                float: left;
                margin: 0 18px;
            } 
            @media only screen and (max-width:480px){
                margin: 0 10px;
            }
        } 
    }

    @media only screen and (max-width:1180px){
        background:
            image-url('about/footer/tree-small.jpg') -18px 18px no-repeat,
            image-url('about/footer/tree-3.png') right bottom no-repeat;
        background-color: $green;
    }

    @media only screen and (min-width: 1260px){
        height: 100vh;
        min-height: 900px;
    }

    @media only screen and (max-width:640px){
        background:
            image-url('about/footer/tree-small.jpg') -18px 18px no-repeat;
        background-color: $green;
    }
}
