.about-history{
    padding-top: 30px;
    .people-text {
        font-weight: 100;
        font-size: 18px;
    }
    .graph{
        margin-top: 16px;
    }
    @media #{$medium-up} {
        .title {
            text-align: right;
        }
    }
}
.graph-history {
    margin-top: 192px;
    transform: translate3d(0,0,0);
    width: 100%;
    padding-left: 92px;

    @media only screen and (max-width:1700px){
        padding-right: 42px;
    }
    .scene {
        height: 320px;
        background: red;
        position: relative;
    }
    .meters {
        .years {
            position: absolute;
            top: 100%;
            width: 100%;
            text-align: justify;
            border-top: 1px solid #999;
            &:after {
                display: inline-block;
                content: '';
                width: 100%;
                height: 1px;
            }
            div{
                display: inline-block;
                span{
                    display: block;
                }
                &:before {
                    display: block;
                    content: '';
                    height: 10px;
                    width: 1px;
                    background: #000;
                    margin: 0 auto 5px auto;
                }
                &:first-child {
                    &:before{
                        margin:0 0 5px 0;
                    }
                }
                &:last-child {
                    &:before{
                        float: right;
                    }
                }
            }
        }
        .people {
            position: absolute;
            width: 100%;
            height: 100%;
            .sector{
                background:#f5f5f5;
                border-bottom: 1px dashed #d2d4d6;
                div{
                    transform: translateY(-50%);
                    height: 40px;
                    line-height: 40px;
                    position: absolute;
                    text-align: right !important;
                    padding-left: 24px;
                    width: 60px;
                    color: #cfd1d3;
                    position: absolute;
                    font-size: 24px;
                    font-weight: 100;
                    font-family: $title-font-family;
                    left:-80px;
                    &:before{
                        display: block;
                        content: '';
                        position: absolute;
                        top: calc( 50% + -1px);
                        left: 70px;
                        height: 1px;
                        width: 10px;
                        background: #d1d3d5;


                    }
                }
                &:first-child{
                    height: 40%;
                    &:before{
                        top: calc( 50% + 2px);
                    }
                    div{
                        top: 0%;
                        font-size: 36px;
                        background: image-url('about/icons/man-grey.svg') no-repeat left center;    
                    }
                }
                &:nth-child(2){
                    height: 40%;
                    background: #ffffff;
                }
                &:last-child{
                    height: 20%;
                }
            }     
        }
    }
    .sectors {
        width: 100%;
        position: absolute;
        top:0;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        div{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            &:nth-child(1){
                img{
                    transition-delay: .8s;
                }
            }
            &:nth-child(2){
                img{
                    transition-delay: .7s;
                }
            }
            &:nth-child(3){
                img{
                    transition-delay: .6s;
                }
            }
            &:nth-child(4){
                img{
                    transition-delay: .5s;
                }
            }
        }
        img{
            transition: transform .5s, opacity .5s;
            width:100%; 
            height: 100%;
            transform-origin: 100% 100%;

        }
    }
    .projects {
        pointer-events: none;
        width: 100%;
        position: absolute;
        bottom:0;
        z-index: 1;
        height: calc(100% + 100px);
        &:hover{
            .project:not(:hover) .icon{
                transition: transform  .3s, opacity  .3s;
                opacity: .5;
                transform: scale(.8) translateY(24px);
            }
        }
        .project {
            position: absolute;
            height: 100%;
            &:after {
                position: absolute;
                left: 50%;
                height: 380px;
                display: block;
                width: 0;
                border-left: 1px dashed #d3d4d6;
                top: 36px;
                content: '';
                z-index: 0;
                transition: border-color .3s .3s;
            }
            &:hover {
                .icon {
                    transition: transform .3s;
                    transform: translateY(-48px) scale(2);
                    div{
                        animation-name: scroll-icons;
                        animation-duration: 4s;
                        animation-iteration-count: infinite;
                        animation-delay: .5s;
                    }

                }
                .description {
                    transition: transform .3s .3s, opacity .3s .3s;
                    opacity: 1;
                    transform: translateX(0);
                }
                &:after{
                    border-color:#666;
                    transition: border-color .3s;
                }
            }
            @media only screen and (max-width:960px){







            }
        }
        .icon {
            pointer-events: all;
            transition: transform .3s .3s, opacity .3s;
            position: relative;
            z-index: 1;
            height: 64px; 
            width: 64px;
            background: #fff;
            border-radius: 100%;
            border:4px solid #fff;
            box-shadow: 0 0 1px 0 #d3d4d6;
            cursor: pointer;
            overflow: hidden;
            div{
                position: absolute;
                top: -4px;
                height: 64px;
                width: 192px;
                left: -4px;
            }
            img {
                float: left;
                width: 33.3333%;
            }
        }

        .description {
            transition: transform  .3s, opacity .3s;
            position: absolute;
            top: -56px;
            transform: translateX(24px);
            left: 112px;
            opacity: 0;
            width: 260px;
            .title {
                font-family: $title-font-family;
                font-size: 24px;
                font-weight: 100;
                text-align: left;
            }
            p{
                line-height: 20px;
                margin: 12px 0;
            }
            &.left{
                left: auto;
                right: 114px;
                text-align: right;
                .title {
                    text-align: right;
                }
            }
        }

    }

    /* appearing */
    .projects .project {
        opacity: 0;
        transition: transform  .5s, opacity  .5s;
        transform: translate3d(0,50px,0);
    }

    .sectors img{
        opacity: 0;
        transform: translate3d(0,100px,0);
    }

    .animated &{
        .sectors img{
            opacity: 1;
            transform: translate3d(0,0,0);    
        }
        .projects .project {
            opacity: 1;
            transform: translate3d(0,0,0);
            &:nth-child(1){
                transition-delay: 1s;    
            }
            &:nth-child(2){
                transition-delay: 1.2s;    
            }
            &:nth-child(3){
                transition-delay: 1.4s;    
            }
            &:nth-child(4){
                transition-delay: 1.6s;    
            }
            &:nth-child(5){
                transition-delay: 1.8s;    
            }
            &:nth-child(6){
                transition-delay: 2s;    
            }
            &:nth-child(7){
                transition-delay: 2.2s;    
            }
            &:nth-child(8){
                transition-delay: 2.4s;    
            }
            &:nth-child(9){
                transition-delay: 2.6s;    
            }
        }
    }


    .legend{
        height: 16px;
        margin: 0;
        margin-top: 96px;
        padding: 0;
        margin-left: 84px;
        @media only screen and (max-width:1280px){
            margin-left: 0;
        }
        li{
            float: left;
            font-size: 24px;
            line-height: 32px;
            font-family: $title-font-family;
            text-transform: uppercase;
            font-weight: 100;
            margin-right: 50px;
            margin-bottom: 20px;
            list-style: none;
            padding-left: 50px;
            position: relative;
            &:before{
                content: '';
                display: block;
                position: absolute;
                background: red;
                width: 32px;
                height: 32px;
                left: 0;
                top:0;
                border-radius: 32px;
            }
            &:first-child:before{
                background-color: #ffaa33;
            }
            &:nth-child(2):before{
                background-color: #f57e45;
            }
            &:nth-child(3):before{
                background-color: #c24034;
            }
            &:nth-child(4):before{
                background-color: #b3be8b;
            }
        }
        .project-important{
            float: right;
            margin: 0;
            &:before{
                background: image-url('../pictures/about/history/venceremos-1.png') no-repeat center;
                width: 64px;
                height: 64px;
                border-radius: 100%;
                top: -16px;
                background-size: 100%;
                left: -36px;

                border-radius: 100%;
                border: 4px solid white;
                box-shadow: 0 0 1px 0 #d3d4d6;
                overflow: hidden;
            }
            @media only screen and (max-width:1240px){
                clear: left;
                float: left;
                margin: 24px 20px;
                position: relative;
            }
            @media only screen and (max-width:960px){
                display: none;
            }
        }
    }
}

@keyframes scroll-icons{
    0{
        transform: translateX(0);
        transform: translate3d(0,0,0);
    }
    23%{
        transform: translateX(0);
        transform: translate3d(0,0,0);
    }
    33.333%{
        transform: translateX(-64px);
        transform: translate3d(-64px,0,0);
    }
    56%{
        transform: translateX(-64px);
        transform: translate3d(-64px,0,0);
    }
    66.666%{
        transform: translateX(-128px);
        transform: translate3d(-128px,0,0);
    }
    90%{
        transform: translateX(-128px);
        transform: translate3d(-128p,0,0);
    }
    100%{
        transform: translateX(0%);
        transform: translate3d(0%,0,0);
    }
}
