#team-switch{
    background: #fafafa;
    min-height: 352px;
    overflow: hidden;
    padding: 0 124px;
    @media only screen and (max-width:1560px){
        padding: 0 40px;
    }
    @media only screen and (max-width:960px) and (min-width:820px){
        min-height: 312px;
    }
    #back{
        position: absolute;
        z-index: -1;
    }
    .title{
        line-height: 24px;
        font-size: 26px;
        font-weight: 100;
        text-align: right;
        padding-top: 48px;
        @media only screen and (max-width:1100px){
            padding-top: 24px;
        }
    }
    .graph{
        padding: 72px 0 0 0;
        @media only screen and (max-width:1100px){
            padding: 20px 0 0 0;
        }
        @media only screen and (max-width:960px){
            padding: 30px 0 0 0;
        }
        @media only screen and (max-width:780px){
            padding: 20px 0 0 0;
        }
    }
    .icons{
        padding-bottom: 12px;
        &:after{
            display: inline-block;
            content: '';
            width: 100%;
            height: 1px;
        }
        text-align: justify;

        div{
            display: inline-block;
            padding: 5px;
            background: white;
            border-radius: 100%;
            position: relative;
            svg{display: block;}
            span{
                left: -100%;
                top: -40px;
                transform: translateX(25%);
                position: absolute;
                opacity: 0;
                display: block;
                text-align: center;
                width: 200%;
                transition: opacity .3s;
                @media only screen and (max-width:1100px){
                    top: -28px;
                }
            }
            @media only screen and (max-width:1100px){
                float: left;
                margin: 14px 4px;
            }
            @media only screen and (max-width:960px){
                float: none;
                margin: 14px 0;
                display: inline-block;
            }
            @media only screen and (max-width:780px){
                float: left;
                display: block;
                margin: 14px 4px;
            }
        }
        div{
            border-radius: 60%;
            cursor: pointer;
            transition: background-color .3s, box-shadow .3s;
            &.active{
                background-color: $green;
                span{
                    opacity: 1;
                }
                svg *{
                    fill:white
                }
            }
        }
        @media only screen and (max-width:1100px){
            max-height: 192px;
            padding-bottom: 0;
        }
    }
    .people{
        span{
            width: 17px;
            height: 48px;
            display: inline-block;
            background: #ccc;
            background-size: 100%;
            &.active{
                background-color: $green;
            }
        }
        .man, .women {
            text-align: justify;
            font-size: 0;
            > div {
                opacity: 0;
            }
            &>div {
                padding-top: 10px ;
                font-family: $title-font-family;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 100;
                width: 100%;
                display: inline-block;
                div{ 
                    font-size: 24px;
                    display: inline;
                }
            }
        }
        .man {
            width: 43%;
            float: left;
            span{
                background-image: image-url('about/icons/switch/man.svg');
            }
        }
        .women {
            width: 51%;
            float: right;
            div {
                text-align: right;
            }
            span{
                background-image: image-url('about/icons/switch/women.svg');
            }
        }
    }
}