RewriteEngine On 
RewriteBase / 

RewriteRule ^index\.html$ - [L] 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . /index.html [L] 

Redirect 301 /ua/portfolio.html http://bambus.com.ua/portfolio


Redirect 301 /ua/studio/vakansiji.html http://old.bambus.com.ua/ua/studio/vakansiji.html

Redirect 301 /ua/studio.html http://old.bambus.com.ua/ua/studio.html

Redirect 301 /ua/services.html http://old.bambus.com.ua/ua/services.html

Redirect 301 /ua/catalog.html http://old.bambus.com.ua/ua/catalog.html

Redirect 301 /ua/blog.html http://old.bambus.com.ua/ua/blog.html

Redirect 301 /ua/contact-us.html http://old.bambus.com.ua/ua/contact-us.html

Redirect 301 /ua/clients.html http://old.bambus.com.ua/ua/clients.html

Redirect 301 /ua/order.html http://old.bambus.com.ua/ua/order.html

Redirect 301 /ua/studio/pro_komandu.html http://old.bambus.com.ua/ua/studio/pro_komandu.html

Redirect 301 /ua/studio/vakansiji.html http://old.bambus.com.ua/ua/studio/vakansiji.html

Redirect 301 /ua/studio/pro_dizajn.html http://old.bambus.com.ua/ua/studio/pro_dizajn.html

Redirect 301 /ua/services/3d1.html http://old.bambus.com.ua/ua/services/3d1.html

Redirect 301 /ua/services/webdesign.html http://old.bambus.com.ua/ua/services/webdesign.html

Redirect 301 /ua/services/ilyustraciji.html http://old.bambus.com.ua/ua/services/ilyustraciji.html

Redirect 301 /ua/services/logo.html http://old.bambus.com.ua/ua/services/logo.html

Redirect 301 /ua/services/foto1.html http://old.bambus.com.ua/ua/services/foto1.html

Redirect 301 /ua/services/brending1.html http://old.bambus.com.ua/ua/services/brending1.html

Redirect 301 /ua/services/poligrafiya.html http://old.bambus.com.ua/ua/services/poligrafiya.html

Redirect 301 /ua/services/flash1.html http://old.bambus.com.ua/ua/services/flash1.html

Redirect 301 /ua/services/reklama.html http://old.bambus.com.ua/ua/services/reklama.html

Redirect 301 /ua/services/upakovka.html http://old.bambus.com.ua/ua/services/upakovka.html

Redirect 301 /ua/services/interjer.html http://old.bambus.com.ua/ua/services/interjer.html

Redirect 301 /ua/services/suveniri.html http://old.bambus.com.ua/ua/services/suveniri.html

Redirect 301 /ua/services/multimedia1.html http://old.bambus.com.ua/ua/services/multimedia1.html

Redirect 301 /ua/services/inshe.html http://old.bambus.com.ua/ua/services/inshe.html

Redirect 301 /ua/portfolio/web-design/191.html http://old.bambus.com.ua/ua/portfolio/web-design/191.html

Redirect 301 /ua/portfolio/web-design.html http://old.bambus.com.ua/ua/portfolio/web-design.html 

Redirect 301 /ua/portfolio/advertisement/29.html http://old.bambus.com.ua/ua/portfolio/advertisement/29.html

Redirect 301 /ua/portfolio/illustrations/25.html http://old.bambus.com.ua/ua/portfolio/illustrations/25.html

Redirect 301 /ua/portfolio/print/76.html http://old.bambus.com.ua/ua/portfolio/print/76.html

Redirect 301 /ua/portfolio/all-works.html?filter=37 http://old.bambus.com.ua/ua/portfolio/all-works.html?filter=37

Redirect 301 /ua/portfolio/3d.html?filter=38 http://old.bambus.com.ua/ua/portfolio/3d.html?filter=38

Redirect 301 /ua/portfolio/web-design.html?filter=2 http://old.bambus.com.ua/ua/portfolio/web-design.html?filter=2

Redirect 301 /ua/portfolio/illustrations.html?filter=3 http://old.bambus.com.ua/ua/portfolio/illustrations.html?filter=3

Redirect 301 /ua/portfolio/identity.html?filter=39 http://old.bambus.com.ua/ua/portfolio/identity.html?filter=39

Redirect 301 /ua/portfolio/photo.html?filter=7 http://old.bambus.com.ua/ua/portfolio/photo.html?filter=7

Redirect 301 /ua/portfolio/brending.html?filter=6 http://old.bambus.com.ua/ua/portfolio/brending.html?filter=6

Redirect 301 /ua/portfolio/print.html?filter=8 http://old.bambus.com.ua/ua/portfolio/print.html?filter=8

Redirect 301 /ua/portfolio/logos.html?filter=5 http://old.bambus.com.ua/ua/portfolio/logos.html?filter=5

Redirect 301 /ua/portfolio/animation.html?filter=41 http://old.bambus.com.ua/ua/portfolio/animation.html?filter=41

Redirect 301 /ua/portfolio/souvenirs.html?filter=10 http://old.bambus.com.ua/ua/portfolio/souvenirs.html?filter=10

Redirect 301 /ua/portfolio/multimedia.html?filter=4 http://old.bambus.com.ua/ua/portfolio/multimedia.html?filter=4

Redirect 301 /ua/portfolio/flash.html?filter=43 http://old.bambus.com.ua/ua/portfolio/flash.html?filter=43

Redirect 301 /ua/portfolio/advertisement.html?filter=44 http://old.bambus.com.ua/ua/portfolio/advertisement.html?filter=44

Redirect 301 /ua/portfolio/packaging.html?filter=9 http://old.bambus.com.ua/ua/portfolio/packaging.html?filter=9

Redirect 301 /ua/portfolio/interior.html?filter=45 http://old.bambus.com.ua/ua/portfolio/interior.html?filter=45

Redirect 301 /ua/portfolio/other.html?filter=11 http://old.bambus.com.ua/ua/portfolio/other.html?filter=11

Redirect 301 /ua/portfolio/illustrations/194.html http://old.bambus.com.ua/ua/portfolio/illustrations/194.html

Redirect 301 /ua/portfolio/illustrations.html http://old.bambus.com.ua/ua/portfolio/illustrations.html

Redirect 301 /ua/portfolio/advertisement/197.html http://old.bambus.com.ua/ua/portfolio/advertisement/197.html

Redirect 301 /ua/portfolio/advertisement.html http://old.bambus.com.ua/ua/portfolio/advertisement.html

Redirect 301 /ua/portfolio/print/199.html http://old.bambus.com.ua/ua/portfolio/print/199.html

Redirect 301 /ua/portfolio/print.html http://old.bambus.com.ua/ua/portfolio/print.html

Redirect 301 /ua/portfolio/advertisement/188.html http://old.bambus.com.ua/ua/portfolio/advertisement/188.html

Redirect 301 /ua/portfolio/illustrations/190.html http://old.bambus.com.ua/ua/portfolio/illustrations/190.html

Redirect 301 /ua/portfolio/illustrations/187.html http://old.bambus.com.ua/ua/portfolio/illustrations/187.html

Redirect 301 /ua/portfolio/illustrations/196.html http://old.bambus.com.ua/ua/portfolio/illustrations/196.html

Redirect 301 /ua/portfolio/souvenirs/200.html http://old.bambus.com.ua/ua/portfolio/souvenirs/200.html

Redirect 301 /ua/portfolio/souvenirs.html http://old.bambus.com.ua/ua/portfolio/souvenirs.html

Redirect 301 /ua/portfolio/print/182.html http://old.bambus.com.ua/ua/portfolio/print/182.html

Redirect 301 /ua/portfolio/packaging/183.html http://old.bambus.com.ua/ua/portfolio/packaging/183.html

Redirect 301 /ua/portfolio/packaging.html http://old.bambus.com.ua/ua/portfolio/packaging.html

Redirect 301 /ua/portfolio/souvenirs/201.html http://old.bambus.com.ua/ua/portfolio/souvenirs/201.html

Redirect 301 /ua/portfolio/illustrations/192.html http://old.bambus.com.ua/ua/portfolio/illustrations/192.html

Redirect 301 /ua/portfolio/illustrations/193.html http://old.bambus.com.ua/ua/portfolio/illustrations/193.html

Redirect 301 /ua/portfolio/illustrations/186.html http://old.bambus.com.ua/ua/portfolio/illustrations/186.html

Redirect 301 /ua/portfolio/print/198.html http://old.bambus.com.ua/ua/portfolio/print/198.html

Redirect 301 /ua/portfolio/advertisement/189.html http://old.bambus.com.ua/ua/portfolio/advertisement/189.html

Redirect 301 /ua/portfolio/advertisement/180.html http://old.bambus.com.ua/ua/portfolio/advertisement/180.html

Redirect 301 /ua/portfolio/animation/184.html http://old.bambus.com.ua/ua/portfolio/animation/184.html

Redirect 301 /ua/portfolio/animation.html http://old.bambus.com.ua/ua/portfolio/animation.html

Redirect 301 /ua/portfolio/advertisement/179.html http://old.bambus.com.ua/ua/portfolio/advertisement/179.html

Redirect 301 /ua/portfolio/advertisement/178.html http://old.bambus.com.ua/ua/portfolio/advertisement/178.html

Redirect 301 /ua/portfolio/other/176.html http://old.bambus.com.ua/ua/portfolio/other/176.html

Redirect 301 /ua/portfolio/other.html http://old.bambus.com.ua/ua/portfolio/other.html

Redirect 301 /ua/portfolio/advertisement/173.html http://old.bambus.com.ua/ua/portfolio/advertisement/173.html

Redirect 301 /ua/portfolio/logos/175.html http://old.bambus.com.ua/ua/portfolio/logos/175.html

Redirect 301 /ua/portfolio/logos.html http://old.bambus.com.ua/ua/portfolio/logos.html

Redirect 301 /ua/portfolio/web-design/169.html http://old.bambus.com.ua/ua/portfolio/web-design/169.html

Redirect 301 /ua/portfolio/advertisement/170.html http://old.bambus.com.ua/ua/portfolio/advertisement/170.html

Redirect 301 /ua/portfolio/other/167.html http://old.bambus.com.ua/ua/portfolio/other/167.html

Redirect 301 /ua/portfolio/web-design/150.html http://old.bambus.com.ua/ua/portfolio/web-design/150.html

Redirect 301 /ua/portfolio/flash/137.html http://old.bambus.com.ua/ua/portfolio/flash/137.html

Redirect 301 /ua/portfolio/flash.html http://old.bambus.com.ua/ua/portfolio/flash.html

Redirect 301 /ua/portfolio/print/143.html http://old.bambus.com.ua/ua/portfolio/print/143.html

Redirect 301 /ua/portfolio/flash/138.html http://old.bambus.com.ua/ua/portfolio/flash/138.html

Redirect 301 /ua/portfolio/print/142.html http://old.bambus.com.ua/ua/portfolio/print/142.html

Redirect 301 /ua/portfolio/print/144.html http://old.bambus.com.ua/ua/portfolio/print/144.html

Redirect 301 /ua/portfolio/print/152.html http://old.bambus.com.ua/ua/portfolio/print/152.html

Redirect 301 /ua/portfolio/flash/139.html http://old.bambus.com.ua/ua/portfolio/flash/139.html

Redirect 301 /ua/portfolio/print/145.html http://old.bambus.com.ua/ua/portfolio/print/145.html

Redirect 301 /ua/portfolio/souvenirs/149.html http://old.bambus.com.ua/ua/portfolio/souvenirs/149.html

Redirect 301 /ua/portfolio/web-design/153.html http://old.bambus.com.ua/ua/portfolio/web-design/153.html

Redirect 301 /ua/portfolio/logos/159.html http://old.bambus.com.ua/ua/portfolio/logos/159.html

Redirect 301 /ua/portfolio/flash/146.html http://old.bambus.com.ua/ua/portfolio/flash/146.html

Redirect 301 /ua/portfolio/multimedia/120.html http://old.bambus.com.ua/ua/portfolio/multimedia/120.html

Redirect 301 /ua/portfolio/web-design/168.html http://old.bambus.com.ua/ua/portfolio/web-design/168.html

Redirect 301 /ua/portfolio/web-design/154.html http://old.bambus.com.ua/ua/portfolio/web-design/154.html

Redirect 301 /ua/portfolio/logos/141.html http://old.bambus.com.ua/ua/portfolio/logos/141.html

Redirect 301 /ua/portfolio/logos/164.html http://old.bambus.com.ua/ua/portfolio/logos/164.html

Redirect 301 /ua/portfolio/print/116.html http://old.bambus.com.ua/ua/portfolio/print/116.html

Redirect 301 /ua/portfolio/multimedia/122.html http://old.bambus.com.ua/ua/portfolio/multimedia/122.html

Redirect 301 /ua/portfolio/multimedia/129.html http://old.bambus.com.ua/ua/portfolio/multimedia/129.html

Redirect 301 /ua/portfolio/advertisement/94.html http://old.bambus.com.ua/ua/portfolio/advertisement/94.html

Redirect 301 /ua/portfolio/logos/72.html http://old.bambus.com.ua/ua/portfolio/logos/72.html

Redirect 301 /ua/portfolio/packaging/74.html http://old.bambus.com.ua/ua/portfolio/packaging/74.html

Redirect 301 /ua/portfolio/multimedia/97.html http://old.bambus.com.ua/ua/portfolio/multimedia/97.html

Redirect 301 /ua/portfolio/advertisement/73.html http://old.bambus.com.ua/ua/portfolio/advertisement/73.html

Redirect 301 /ua/portfolio/illustrations/93.html http://old.bambus.com.ua/ua/portfolio/illustrations/93.html

Redirect 301 /ua/portfolio/web-design/132.html http://old.bambus.com.ua/ua/portfolio/web-design/132.html

Redirect 301 /ua/portfolio/print/161.html http://old.bambus.com.ua/ua/portfolio/print/161.html

Redirect 301 /ua/portfolio/advertisement/96.html http://old.bambus.com.ua/ua/portfolio/advertisement/96.html

Redirect 301 /ua/portfolio/logos/166.html http://old.bambus.com.ua/ua/portfolio/logos/166.html

Redirect 301 /ua/portfolio/logos/157.html http://old.bambus.com.ua/ua/portfolio/logos/157.html

Redirect 301 /ua/portfolio/multimedia/121.html http://old.bambus.com.ua/ua/portfolio/multimedia/121.html

Redirect 301 /ua/portfolio/advertisement/27.html http://old.bambus.com.ua/ua/portfolio/advertisement/27.html

Redirect 301 /ua/portfolio/web-design/130.html http://old.bambus.com.ua/ua/portfolio/web-design/130.html

Redirect 301 /ua/portfolio/logos/69.html http://old.bambus.com.ua/ua/portfolio/logos/69.html

Redirect 301 /ua/portfolio/illustrations/158.html http://old.bambus.com.ua/ua/portfolio/illustrations/158.html

Redirect 301 /ua/portfolio/multimedia/126.html http://old.bambus.com.ua/ua/portfolio/multimedia/126.html

Redirect 301 /ua/portfolio/flash/38.html http://old.bambus.com.ua/ua/portfolio/flash/38.html

Redirect 301 /ua/portfolio/logos/70.html http://old.bambus.com.ua/ua/portfolio/logos/70.html

Redirect 301 /ua/portfolio/logos/99.html http://old.bambus.com.ua/ua/portfolio/logos/99.html

Redirect 301 /ua/portfolio/flash/31.html http://old.bambus.com.ua/ua/portfolio/flash/31.html

Redirect 301 /ua/portfolio/illustrations/86.html http://old.bambus.com.ua/ua/portfolio/illustrations/86.html

Redirect 301 /ua/portfolio/souvenirs/156.html http://old.bambus.com.ua/ua/portfolio/souvenirs/156.html

Redirect 301 /ua/portfolio/multimedia/125.html http://old.bambus.com.ua/ua/portfolio/multimedia/125.html

Redirect 301 /ua/portfolio/logos/71.html http://old.bambus.com.ua/ua/portfolio/logos/71.html

Redirect 301 /ua/portfolio/advertisement/26.html http://old.bambus.com.ua/ua/portfolio/advertisement/26.html

Redirect 301 /ua/portfolio/flash/35.html http://old.bambus.com.ua/ua/portfolio/flash/35.html

Redirect 301 /ua/portfolio/multimedia/123.html http://old.bambus.com.ua/ua/portfolio/multimedia/123.html

Redirect 301 /ua/portfolio/flash/34.html http://old.bambus.com.ua/ua/portfolio/flash/34.html

Redirect 301 /ua/portfolio/packaging/77.html http://old.bambus.com.ua/ua/portfolio/packaging/77.html

Redirect 301 /ua/portfolio/print/118.html http://old.bambus.com.ua/ua/portfolio/print/118.html

Redirect 301 /ua/portfolio/logos/163.html http://old.bambus.com.ua/ua/portfolio/logos/163.html

Redirect 301 /ua/portfolio/flash/147.html http://old.bambus.com.ua/ua/portfolio/flash/147.html

Redirect 301 /ua/portfolio/souvenirs/78.html http://old.bambus.com.ua/ua/portfolio/souvenirs/78.html

Redirect 301 /ua/portfolio/print/84.html http://old.bambus.com.ua/ua/portfolio/print/84.html

Redirect 301 /ua/portfolio/print/85.html http://old.bambus.com.ua/ua/portfolio/print/85.html

Redirect 301 /ua/portfolio/advertisement/22.html http://old.bambus.com.ua/ua/portfolio/advertisement/22.html

Redirect 301 /ua/portfolio/packaging/68.html http://old.bambus.com.ua/ua/portfolio/packaging/68.html

Redirect 301 /ua/portfolio/advertisement/30.html http://old.bambus.com.ua/ua/portfolio/advertisement/30.html

Redirect 301 /ua/portfolio/packaging/18.html http://old.bambus.com.ua/ua/portfolio/packaging/18.html

Redirect 301 /ua/portfolio/multimedia/127.html http://old.bambus.com.ua/ua/portfolio/multimedia/127.html

Redirect 301 /ua/portfolio/logos/17.html http://old.bambus.com.ua/ua/portfolio/logos/17.html

Redirect 301 /ua/portfolio/print/82.html http://old.bambus.com.ua/ua/portfolio/print/82.html

Redirect 301 /ua/portfolio/advertisement/32.html http://old.bambus.com.ua/ua/portfolio/advertisement/32.html

Redirect 301 /ua/portfolio/print/115.html http://old.bambus.com.ua/ua/portfolio/print/115.html

Redirect 301 /ua/portfolio/multimedia/128.html http://old.bambus.com.ua/ua/portfolio/multimedia/128.html

Redirect 301 /ua/portfolio/flash/59.html http://old.bambus.com.ua/ua/portfolio/flash/59.html

Redirect 301 /ua/portfolio/logos/162.html http://old.bambus.com.ua/ua/portfolio/logos/162.html

Redirect 301 /ua/portfolio/souvenirs/75.html http://old.bambus.com.ua/ua/portfolio/souvenirs/75.html

Redirect 301 /ua/portfolio/advertisement/172.html http://old.bambus.com.ua/ua/portfolio/advertisement/172.html

Redirect 301 /ua/portfolio/flash/140.html http://old.bambus.com.ua/ua/portfolio/flash/140.html

Redirect 301 /ua/portfolio/print/81.html http://old.bambus.com.ua/ua/portfolio/print/81.html

Redirect 301 /ua/portfolio/web-design/131.html http://old.bambus.com.ua/ua/portfolio/web-design/131.html

Redirect 301 /ua/portfolio/illustrations/14.html http://old.bambus.com.ua/ua/portfolio/illustrations/14.html

Redirect 301 /ua/portfolio/print/83.html http://old.bambus.com.ua/ua/portfolio/print/83.html

Redirect 301 /ua/portfolio/photo/91.html http://old.bambus.com.ua/ua/portfolio/photo/91.html

Redirect 301 /ua/portfolio/print/113.html http://old.bambus.com.ua/ua/portfolio/print/113.html

Redirect 301 /ua/portfolio/print/109.html http://old.bambus.com.ua/ua/portfolio/print/109.html

Redirect 301 /ua/portfolio/print/110.html http://old.bambus.com.ua/ua/portfolio/print/110.html

Redirect 301 /ua/portfolio/advertisement/174.html http://old.bambus.com.ua/ua/portfolio/advertisement/174.html

Redirect 301 /ua/portfolio/print/61.html http://old.bambus.com.ua/ua/portfolio/print/61.html

Redirect 301 /ua/portfolio/advertisement/28.html http://old.bambus.com.ua/ua/portfolio/advertisement/28.html

Redirect 301 /ua/portfolio/print/119.html http://old.bambus.com.ua/ua/portfolio/print/119.html

Redirect 301 /ua/portfolio/print/117.html http://old.bambus.com.ua/ua/portfolio/print/117.html

Redirect 301 /ua/portfolio/logos/160.html http://old.bambus.com.ua/ua/portfolio/logos/160.html

Redirect 301 /ua/portfolio/print/60.html http://old.bambus.com.ua/ua/portfolio/print/60.html

Redirect 301 /ua/portfolio/print/66.html http://old.bambus.com.ua/ua/portfolio/print/66.html

Redirect 301 /ua/portfolio/flash/36.html http://old.bambus.com.ua/ua/portfolio/flash/36.html

Redirect 301 /ua/portfolio/illustrations/87.html http://old.bambus.com.ua/ua/portfolio/illustrations/87.html

Redirect 301 /ua/portfolio/photo/90.html http://old.bambus.com.ua/ua/portfolio/photo/90.html

Redirect 301 /ua/portfolio/illustrations/112.html http://old.bambus.com.ua/ua/portfolio/illustrations/112.html

Redirect 301 /ua/portfolio/illustrations/92.html http://old.bambus.com.ua/ua/portfolio/illustrations/92.html

Redirect 301 /ua/portfolio/print/114.html http://old.bambus.com.ua/ua/portfolio/print/114.html

Redirect 301 /ua/portfolio/logos/101.html http://old.bambus.com.ua/ua/portfolio/logos/101.html

Redirect 301 /ua/portfolio/logos/98.html http://old.bambus.com.ua/ua/portfolio/logos/98.html

Redirect 301 /ua/portfolio/print/62.html http://old.bambus.com.ua/ua/portfolio/print/62.html

Redirect 301 /ua/portfolio/logos/104.html http://old.bambus.com.ua/ua/portfolio/logos/104.htm

Redirect 301 /ua/portfolio/logos/107.html http://old.bambus.com.ua/ua/portfolio/logos/107.html

Redirect 301 /ua/portfolio/logos/100.html http://old.bambus.com.ua/ua/portfolio/logos/100.html

Redirect 301 /ua/portfolio/logos/102.html http://old.bambus.com.ua/ua/portfolio/logos/102.html

Redirect 301 /ua/portfolio/logos/105.html http://old.bambus.com.ua/ua/portfolio/logos/105.html

Redirect 301 /ua/portfolio/print/148.html http://old.bambus.com.ua/ua/portfolio/print/148.html

Redirect 301 /ua/portfolio/illustrations/88.html http://old.bambus.com.ua/ua/portfolio/illustrations/88.html

Redirect 301 /ua/portfolio/photo/89.html http://old.bambus.com.ua/ua/portfolio/photo/89.html

Redirect 301 /ua/portfolio/print/63.html http://old.bambus.com.ua/ua/portfolio/print/63.html

Redirect 301 /ua/portfolio/logos/106.html http://old.bambus.com.ua/ua/portfolio/logos/106.html

Redirect 301 /ua/portfolio/advertisement/155.html http://old.bambus.com.ua/ua/portfolio/advertisement/155.html

Redirect 301 /ua/portfolio/print/65.html http://old.bambus.com.ua/ua/portfolio/print/65.html

Redirect 301 /ua/portfolio/print/64.html http://old.bambus.com.ua/ua/portfolio/print/64.html

Redirect 301 /ua/portfolio/logos/103.html http://old.bambus.com.ua/ua/portfolio/logos/103.html

Redirect 301 /ua/portfolio/packaging/67.html http://old.bambus.com.ua/ua/portfolio/packaging/67.html

Redirect 301 /ua/portfolio/web-design/133.html http://old.bambus.com.ua/ua/portfolio/web-design/133.html

Redirect 301 /ua/portfolio/web-design/134.html http://old.bambus.com.ua/ua/portfolio/web-design/134.html

Redirect 301 /ua/portfolio/web-design/135.html http://old.bambus.com.ua/ua/portfolio/web-design/135.html

Redirect 301 /ua/portfolio/animation/185.html http://old.bambus.com.ua/ua/portfolio/animation/185.html

Redirect 301 /ua/portfolio/multimedia.html http://old.bambus.com.ua/ua/portfolio/multimedia.html

Redirect 301 /ua/portfolio/photo.html http://old.bambus.com.ua/ua/portfolio/photo.html



Redirect 301 /ua/blog.html?tag=6 http://bambus.com.ua

Redirect 301 /ua/blog.html?tag=2 http://bambus.com.ua

Redirect 301 /ua/blog.html?tag=4 http://bambus.com.ua

Redirect 301 /ua/blog.html?tag=1 http://bambus.com.ua

Redirect 301 /ua/blog.html?tag=5 http://bambus.com.ua



Redirect 301 /ua/catalog/knigi/knigi_dlya_dizajneriv1/177.html http://old.bambus.com.ua/ua/catalog/knigi/knigi_dlya_dizajneriv1/177.html

Redirect 301 /ua/catalog/magnit2_/msl2/58.html http://old.bambus.com.ua/ua/catalog/magnit2_/msl2/58.html

Redirect 301 /ua/catalog/kolekcijni_karti/starodavni_karti_korolivstva_ruskogo_podarunkovi/57.html http://old.bambus.com.ua/ua/catalog/kolekcijni_karti/starodavni_karti_korolivstva_ruskogo_podarunkovi/57.html

Redirect 301 /ua/catalog/kolekcijni_karti/starodavni_karti_korolivstva_ruskogo_/56.html http://old.bambus.com.ua/ua/catalog/kolekcijni_karti/starodavni_karti_korolivstva_ruskogo_/56.html

Redirect 301 /ua/catalog/kolekcijni_karti/bojovi_karti_upa_podarunkova_koloda_/55.html http://old.bambus.com.ua/ua/catalog/kolekcijni_karti/bojovi_karti_upa_podarunkova_koloda_/55.html

Redirect 301 /ua/catalog/kolekcijni_karti/bojovi_karti_upa/53.html http://old.bambus.com.ua/ua/catalog/kolekcijni_karti/bojovi_karti_upa/53.html

Redirect 301 /ua/catalog/magnit2_/msl1_/39.html http://old.bambus.com.ua/ua/catalog/magnit2_/msl1_/39.html

Redirect 301 /ua/catalog/cards.html?filter=20 http://old.bambus.com.ua/ua/catalog/cards.html?filter=20

Redirect 301 /ua/catalog/magnets.html?filter=21 http://old.bambus.com.ua/ua/catalog/magnets.html?filter=21

Redirect 301 /ua/catalog/magnit2_.html?filter=84 http://old.bambus.com.ua/ua/catalog/magnit2_.html?filter=84

Redirect 301 /ua/catalog/kolekcijni_karti.html?filter=101 http://old.bambus.com.ua/ua/catalog/kolekcijni_karti.html?filter=101

Redirect 301 /ua/catalog/magnit1.html?filter=107 http://old.bambus.com.ua/ua/catalog/magnit1.html?filter=107

Redirect 301 /ua/catalog/knigi.html?filter=121 http://old.bambus.com.ua/ua/catalog/knigi.html?filter=121

Redirect 301 /ua/catalog/magnit2_.html http://old.bambus.com.ua/ua/catalog/magnit2_.html

Redirect 301 /ua/catalog/knigi.html http://old.bambus.com.ua/ua/catalog/knigi.html

Redirect 301 /ua/catalog/kolekcijni_karti.html http://old.bambus.com.ua/ua/catalog/kolekcijni_karti.html

Redirect 301 /ua/catalog/.html http://old.bambus.com.ua/ua/catalog/.html

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

