.menu-panel {
    position: fixed;
    z-index: 50;
    height: 100%;
    @media only screen and (max-height: 534px) {
        z-index: 101;
    }
    @media #{$medium-up} {
       .line {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            height: 100%;
            width: 8px;
            background: $green;
            left: 0;
            pointer-events: none;
            z-index: 1;
            border-right: 1px solid rgba(255, 255, 255, 0);
            transform: translateZ(0);
        }
        .hide + .line {
            border-right-color: rgba(255, 255, 255, .4);
        }
    }
}

#menu-wrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: block;
    transition: transform .25s;
    transform: translate3d(0, 0, 0);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav{
        position: relative;
    }
    &.hide{
        transform: translate3d(-100%, 0px, 0px);
    }
    @media #{$medium-up} {
        width: rem-calc(240);
        &.hide{
            transform: translate3d(calc(-100% + 6px), 0, 0);
        }
    }
}
#menu {
    width: 100vw;
    height: 100%;
    background: $black-trans;
    background-size: auto 100%;
    overflow: hidden;
    @media #{$medium-up} {
        width: rem-calc(240);
    }
    a {
        position: relative;
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px; 
        font-weight: 100;
        font-family: $title-font-family;
        line-height: 48px;
        text-decoration: none !important; // for performance to not force redraw
        
        @media only screen and (min-height: 534px) {
            line-height: rem-calc(64px);
        }
    }
    li, a {
        transition: background-color $p-t-h*1.5, transform .35s;
    }
    .logo {
        margin: 20px 0;
        //padding-right: 56px;
        height: 58px;
        background: image-url('logo.svg') top center no-repeat;
        background-size: auto 100%;
        color: rgba(255, 255, 255, .8);
        text-indent: 54px;
        letter-spacing: .8px;
        font-size: 10px;
        line-height: 104px;

        @media only screen and (min-height: 534px) {
            margin: 60px 0;
        }
		@media only screen and (min-height: 681px) {
            margin: 136px 0;
		}
    }
    .menu-list li, .contact-link {
        &:before {
            position: relative;
            top: 48px;
            left: calc(50% - 50px);
            display: block;
            width: 100px;
            height: 1px;
            background: rgba(255, 255, 255, .15);
            content: '';
            
            @media only screen and (min-height: 534px) {
                top: 65px;
            }
        }
        &.active, &:hover {
            background: $green;
            transition: background-color $p-t-h;
        }
    }
    .hide & {
        .logo {
            //transform: translate3d(-100%, 0, 0);
            transition-delay: 0,0 !important;
        }
        .menu-list li, .contact-link {
            //transform: translate3d(100%,0,0);
            transition-delay: 0,0 !important;
        }
    }
    a:nth-child(1){
        transition-delay: 0, .15s;    
    }
    a:nth-child(2){
        transition-delay: 0, .2s;    
    }
    li:nth-child(1){
        transition-delay: 0, .25s;    
    }
    li:nth-child(2){
        transition-delay: 0, .3s;    
    } 
    li:nth-child(3){
        transition-delay: 0, .35s;    
    }
    li:nth-child(4){
        transition-delay: 0, .4s;    
    }
} 

.main-menu{
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s, opacity 0.4s;
    &.show-child{
        transform: translate3d(-100%, 0, 0);
    }
}

.submenu {
    position: absolute;
    top: 0;
    transform: translate3d(100%, 0, 0);
    width: 100%;
}

.menu-icon{
    position: absolute;
    height: 48px;
    width: 48px;
    border: 1px solid rgba(255,255,255,.5);
    border-left:1px solid $green;
    top: 36px;
    right: -47px;
    background: rgba(0,0,0,.2);
    z-index: -1;
    cursor: pointer;
    transform: translate3d(-56px, 0, 0);
    transition: transform .25s, transform .25s .1s;
    &:after{
        opacity: .6;
        display: block;
        content: '';
        position: absolute;
        z-index: -1;
        height: 2px;
        width: 22px;
        background: white;
        top: 13px;
        left: 12px;
        box-shadow: 0px 9px 0 0px #FFF, 0px 18px 0 0px #FFF;
    }
    .hide~&{
        z-index: 1;
        transform: translate3d(0px, 0, 0);
    }
    @media #{$medium-up} {
        right: -55px;
	}
}
