<div class="portfolio-single-page portfolio-theme "> 
    <div class="bg-aeroport">
        <!-- header-project -->
        <div class="header-project">
            <div class="row">
                <div class="name-project"> 
                    <span class="close-page"></span>
                    <h1>22САЙТ МІЖНАРОДНОГО АЕРОПОРТУ «ЛЬВІВ» ІМЕНІ ДАН ИЛА ГАЛИЦЬКОГО {{name}}</h1> 
                </div>
                <div class="wrapper">
                    <div class="details">
                        <div class="site clearfix">
                            <div class="control">
                                {{#prevLink}}<a class="left-button" href="/portfolio/{{prevLink}}" title="Попередній проект"></a>{{/prevLink}}
                                {{#nextLink}}<a class="right-button" href="/portfolio/{{nextLink}}" title="Наступний проект"></a>{{/nextLink}}
                            </div>
                            <a href="" class="link" target="_blank">underlviv.com.ua</a>
                        </div>
                        <div class="customer">
                            <p class="title">Замовник:</p>
                            <p>"Риба" не тільки успішно пережила п'ять століть</p>
                        </div>
                        <div class="problem">
                            <p class="title">Задача:</p>
                            <p>Розробка сайту міжнародного аеропорту – це масштабний проект, який потребує особливої уваги до деталей та має найвищі вимоги до відображення кожного елементу. Проект необхідно втілити відповідно до фірмової хай-тек стилістики будівлі терміналу – з урахуванням синьої палітри кольорів та фактури скла. Команда отримала завдання та сформувала чітку ціль – виконати замовлення на найвищому рівні і створити сайт, який допоможе подорожуючим безпомилково зорієнтуватися на об’єкті за лічені хвилини. Результат – готовий, інформативний та незамінний для кожного мандрівника продукт.</p>
                        </div>
                        <div class="tags">
                            <p class="title">Теги:</p>
                            <div class="block-tags">
                                <a href="">pizza hut</a>
                                <a href="">food</a>
                                <a href="">italian</a>
                                <a href="">delovery</a>
                                <a href="">packaging</a>
                                <a href="">express</a>
                                <a href="">speed</a>
                            </div>
                        </div>
                        <div class="team">
                            <p class="title">Команда:</p>
                            <div class="block-team">
                                <span class="person">
                                    <div class="img">
                                        <img src="/pictures/about/people/Kucherenko.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Art director</span>
                                        <p>Олесь Кучеренко</p>
                                    </div>
                                </span>
                                <span class="person">
                                    <div class="img">
                                        <img src="/pictures/about/people/Andreeva.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Web designer</span>
                                        <p>Єлена Андреева</p>
                                    </div>
                                </span>
                                <span class="person">
                                    <div class="img">
                                        <img src="/pictures/about/people/Kobernyk.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Web designer</span>
                                        <p>Юра Коберник</p>
                                    </div>
                                </span>
                                <span class="person">
                                    <div class="img">
                                        <img src="/pictures/about/people/Taraban.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Front End Development</span>
                                        <p>Роман Тарабань</p>
                                    </div>
                                </span>
                                <span class="person">
                                    <div class="img">
                                        <img src="/pictures/about/people/Golubyatnikova.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Illustrator</span>
                                        <p>Олена Голубятникова</p>
                                    </div>
                                </span>
                                <span class="person">
                                    <div class="img">
                                        <img src="/pictures/about/people/Fedyna.png" alt="">
                                    </div>
                                    <div class="name">
                                        <span>Back-end web developer</span>
                                        <p>Ярослав Федина</p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="visual">
                        <span class="data">01.01.2014</span>
                        <div class="img-block">
                            <img src="../../../pictures/portfolio/aeroport/img-projekt.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop header-project -->

        <!-- presentation -->
        {{#aeroport-lviv}}
        <div class="presentation-aeroport"> 

            {{#step-1}}
            <div class="step-1 wow">
                <div class="text">
                    <h3>{{{step-1-title}}}</h3>
                    <p>{{{step-1-text}}}</p>
                </div>
                <div class="img-block">
                    <img src="../../../pictures/portfolio/aeroport/presentation-1.png" alt="">
                    <div class="text-img">
                        <p><span class="pointer-line"></span>{{{remote-elements-1}}}</p>
                        <p><span class="pointer-line"></span>{{{remote-elements-2}}}</p>
                        <p><span class="pointer-line"></span>{{{remote-elements-3}}}</p>
                        <p><span class="pointer-line rotate-line"></span>{{{remote-elements-4}}}</p>
                        <p><span class="pointer-line rotate-line"></span>{{{remote-elements-5}}}</p>
                        <p><span class="pointer-line rotate-line"></span>{{{remote-elements-6}}}</p>
                    </div>
                </div>
            </div>
            {{/step-1}}

            <div class="step-2 wow">
                <div class="img-block">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-1.jpg" alt="">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-2.jpg" alt="">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-3.jpg" alt="">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-4.jpg" alt="">
                </div>
            </div>

            {{#step-3}}
            <div class="step-3 wow">
                <div class="text">
                    <h3>{{{step-3-title}}}</h3>
                    <p>{{{step-3-text}}}</p>
                    <img src="../../../pictures/portfolio/aeroport/presentation-3-2.png" alt="">
                </div>
                <div class="map">
                    <img src="../../../pictures/portfolio/aeroport/presentation-3-1.png" alt="">
                </div>
                <div class="details">
                    <ul class="columns">
                        {{#left-details}}
                        <li class="{{class}}"><span>{{{text}}}</span></li>
                        {{/left-details}}
                    </ul>
                    <ul>
                        {{#right-details}}
                        <li class="{{class}}"><span>{{{text}}}</span></li>
                        {{/right-details}}
                    </ul>
                </div>
            </div>
            {{/step-3}}

            {{#step-4}}
            <div class="step-4">
                <div class="text">
                    <h3>{{{step-4-title}}}</h3>
                    <p>{{{step-4-text}}}</p>
                </div>
                <img class="wow" src="../../../pictures/portfolio/aeroport/presentation-4.png" alt="">
            </div>
            {{/step-4}}

            <div class="technological">
                <div class="tech-wrapper">
                    <div class="text">
                        <h3>Technological features of the site</h3>
                        <p>Серверна частина (back end), а такох лицева частина сайту (front end) збудована на основі найсучасніших технологічних рішень</p>
                    </div>
                    <div class="wrapper-item clearfix">
                        <div class="item item-1">
                            <p>фреймворк на якому написана<br>серверна частина сайту</p>
                        </div>
                        <div class="item item-2">
                            <p>технології що використані у фронтенті<br>(html5, javascript, css3)</p>
                        </div>
                        <div class="item item-3">
                            <p>графічні елементи виконані у форматі<br>(SVG - Scalable Vector Graphics)</p>
                        </div>
                    </div>
                </div>
            </div>

            <script src="../../../js/app/jquery.sequence-min.js"></script>
            {{#step-5}}
            <div class="step-5 clearfix">
                <div class="slider-wrapper">
                    <div id="sequence">
                        <span class="sequence-prev"></span>
                        <span class="sequence-next"></span>
                        <ul class="sequence-canvas">
                            <li style="" class="">
                                <div class="site-wrapper">
                                    <div class="window-site">
                                        <img class="image" src="../../../img/portfolio/aeroport/comparison/site1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="properties">
                                    <div class="browser">
                                        <p>Крос-браузерність</p>
                                        <div class="wrapper">
                                            <span class="chrome"></span>
                                            <span class="firefox"></span>
                                            <span class="opera"></span>
                                            <span class="safari"></span>
                                            <span class="explorer"></span>
                                            <span class="explorer-8"></span>
                                        </div>
                                    </div>
                                    <div class="adaptive">
                                        <p>Адаптивність сайту</p>
                                        <div class="wrapper">
                                            <span class="desktop"></span>
                                            <span class="notebook"></span>
                                            <span class="tablet"></span>
                                            <span class="mobile"></span>
                                        </div>
                                    </div>
                                    <div class="speed">
                                        <p>Швидкість загрузки сайту</p>
                                        <span></span>
                                        <p class="value">5 сек</p>
                                    </div>
                                    <div class="size">
                                        <p>Розмір сайту</p>
                                        <span></span>
                                        <p class="value">2 Mb</p>
                                    </div>
                                </div>
                            </li>
                            <li style="" class="">
                                <div class="site-wrapper">
                                    <div class="window-site">
                                        <img class="image" src="../../../img/portfolio/aeroport/comparison/site2.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="properties">
                                    <div class="browser">
                                        <p>Крос-браузерність</p>
                                        <div class="wrapper">
                                            <span class="chrome"></span>
                                            <span class="firefox"></span>
                                            <span class="opera"></span>
                                        </div>
                                    </div>
                                    <div class="adaptive">
                                        <p>Адаптивність сайту</p>
                                        <div class="wrapper">
                                            <span class="desktop"></span>
                                            <span class="notebook"></span>
                                        </div>
                                    </div>
                                    <div class="speed">
                                        <p>Швидкість загрузки сайту</p>
                                        <span></span>
                                        <p class="value">10 сек</p>
                                    </div>
                                    <div class="size">
                                        <p>Розмір сайту</p>
                                        <span></span>
                                        <p class="value">4 Mb</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="static-wrapper">
                    <div id="sequence">
                        <ul class="sequence-canvas">
                            <li style="" class="animate-in">
                                <div class="site-wrapper">
                                    <div class="window-site">
                                        <img class="image" src="../../../img/portfolio/aeroport/comparison/site1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="properties">
                                    <div class="browser">
                                        <p>Крос-браузерність</p>
                                        <div class="wrapper">
                                            <span class="chrome"></span>
                                            <span class="firefox"></span>
                                            <span class="opera"></span>
                                            <span class="safari"></span>
                                            <span class="explorer"></span>
                                            <span class="explorer-8"></span>
                                        </div>
                                    </div>
                                    <div class="adaptive">
                                        <p>Адаптивність сайту</p>
                                        <div class="wrapper">
                                            <span class="desktop"></span>
                                            <span class="notebook"></span>
                                            <span class="tablet"></span>
                                            <span class="mobile"></span>
                                        </div>
                                    </div>
                                    <div class="speed">
                                        <p>Швидкість загрузки сайту</p>
                                        <span></span>
                                        <p class="value">5 сек</p>
                                    </div>
                                    <div class="size">
                                        <p>Розмір сайту</p>
                                        <span></span>
                                        <p class="value">2 Mb</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>
        $(document).ready(function() {
            var options = {
                nextButton: true,
                prevButton: true,
                pagination: false,
                animateStartingFrameIn: true,
                autoPlay: true,
                autoPlayDelay: 2000,
                pauseOnHover: false
            };
            var mySequence = $("#sequence").sequence(options).data("sequence");
        });
                </script>
            </div>
            {{/step-5}}

            {{#step-6}}
            <div class="step-6">
                <div class="statistics">
                    <div class="text">
                        <h3>{{{title}}}</h3>
                        <p>{{{text-top}}}</p>
                    </div>
                    <div class="window general wow">
                        <div class="used">
                            <span class="value">
                                <span>7</span>
                                <span>0</span>
                                <span>0</span>
                                <span class="m-left">0</span>
                                <span>0</span>
                                <span>0</span>
                            </span>
                            <div class="img-block">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>{{{text-l-1}}}</p>
                        </div>
                        <div class="unique">
                            <span class="value">
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span class="m-left">4</span>
                                <span>8</span>
                                <span>0</span>
                            </span>
                            <div class="img-block">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>{{{text-l-2}}}</p>
                        </div> 
                    </div>
                    <div class="window selective wow">
                        <div class="number">
                            <span class="value">5</span>
                            <div class="img-block">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="text">
                            <p>{{{text-r-1}}}</p>
                            <p>{{{text-l-2}}}</p> 
                        </div>
                    </div>
                    <p class="bottom-text">{{{text-bottom}}}</p>
                </div>
            </div>
            {{/step-6}}

        </div>
        {{/aeroport-lviv}}
        <!-- end presentation -->

        <!-- view more works -->
        <div class="portfolio-theme-wrapper"> 
            <h3>View more works</h3>
            <div class="row projects-list">

            </div>
        </div>
        <!-- stop view more works -->
    </div>
</div>
