<div class="portfolio-single-page"> 
    <div class="bg-aeroport">
        <!-- header-project -->
        <div class="header-project">
            <div class="row">

                <div class="name-project"> 
                    <span class="close-page"></span>
                    <h1>САЙТ МІЖНАРОДНОГО АЕРОПОРТУ «ЛЬВІВ» ІМЕНІ ДАН ИЛА ГАЛИЦЬКОГО {{name}}</h1> 
                    <span class="open-meta"></span>
                </div>

                <div class="wrapper">
                    <div class="img-block">
                        <img src="../../../pictures/portfolio/aeroport/img-projekt.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- stop header-project -->

        <!-- presentation -->
        {{#aeroport-lviv}}
        <div class="presentation-aeroport">

            {{#step-1}}
            <div class="step-1 wow">
                <div class="text">
                    <h3>{{{step-1-title}}}</h3>
                    <p>{{{step-1-text}}}</p>
                </div>
                <div class="img-block">
                    <img src="../../../pictures/portfolio/aeroport/presentation-1.png" alt="">
                    <div class="text-img">
                        <p><span class="pointer-line"></span>{{{remote-elements-1}}}</p>
                        <p><span class="pointer-line"></span>{{{remote-elements-2}}}</p>
                        <p><span class="pointer-line"></span>{{{remote-elements-3}}}</p>
                        <p><span class="pointer-line rotate-line"></span>{{{remote-elements-4}}}</p>
                        <p><span class="pointer-line rotate-line"></span>{{{remote-elements-5}}}</p>
                        <p><span class="pointer-line rotate-line"></span>{{{remote-elements-6}}}</p>
                    </div>
                </div>
            </div>
            {{/step-1}}

            <div class="step-2 wow">
                <div class="img-block">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-1.jpg" alt="">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-2.jpg" alt="">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-3.jpg" alt="">
                    <img src="../../../pictures/portfolio/aeroport/presentation-2-4.jpg" alt="">
                </div>
            </div>

            {{#step-3}}
            <div class="step-3 wow">
                <div class="text">
                    <h3>{{{step-3-title}}}</h3>
                    <p>{{{step-3-text}}}</p>
                    <img src="../../../pictures/portfolio/aeroport/presentation-3-2.png" alt="">
                    <div class="details">
                        <ul class="columns">
                            {{#left-details}}
                            <li class="{{class}}"><span>{{{text}}}</span></li>
                            {{/left-details}}
                        </ul>
                        <ul>
                            {{#right-details}}
                            <li class="{{class}}"><span>{{{text}}}</span></li>
                            {{/right-details}}
                        </ul>
                    </div>
                </div>
                <div class="map">
                    <img src="../../../pictures/portfolio/aeroport/presentation-3-1.png" alt="">
                </div>

            </div>
            {{/step-3}}

            {{#step-4}}
            <div class="step-4">
                <div class="text">
                    <h3>{{{step-4-title}}}</h3>
                    <p>{{{step-4-text}}}</p>
                </div>
                <img class="wow" src="../../../pictures/portfolio/aeroport/presentation-4.png" alt="">
            </div>
            {{/step-4}}

            <div class="technological"> 
                <div class="tech-wrapper">
                    <div class="text">
                        <h3>Technological features of the site</h3>
                        <p>Серверна частина (back end), а такох лицева частина сайту (front end) збудована на основі найсучасніших технологічних рішень</p>
                    </div>
                    <div class="wrapper-item clearfix">
                        <div class="item item-1">
                            <p>фреймворк на якому написана<br>серверна частина сайту</p>
                        </div>
                        <div class="item item-2">
                            <p>технології що використані у фронтенті<br>(html5, javascript, css3)</p>
                        </div>
                        <div class="item item-3">
                            <p>графічні елементи виконані у форматі<br>(SVG - Scalable Vector Graphics)</p>
                        </div>
                    </div>
                </div>
            </div>

            <script src="../../../js/app/jquery.sequence-min.js"></script>

            {{#step-6}}
            <div class="step-6">
                <div class="statistics">
                    <div class="text">
                        <h3>{{{title}}}</h3>
                        <p>{{{text-top}}}</p>
                    </div>
                    <div class="window general wow">
                        <div class="used">
                            <span class="value">
                                <span>7</span>
                                <span>0</span>
                                <span>0</span>
                                <span class="m-left">0</span>
                                <span>0</span>
                                <span>0</span>
                            </span>
                            <div class="img-block">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>{{{text-l-1}}}</p>
                        </div>
                        <div class="unique">
                            <span class="value">
                                <span>1</span>
                                <span>3</span>
                                <span>2</span>
                                <span class="m-left">4</span>
                                <span>8</span>
                                <span>0</span>
                            </span>
                            <div class="img-block">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p>{{{text-l-2}}}</p>
                        </div> 
                    </div>
                    <div class="window selective wow">
                        <div class="number">
                            <span class="value">5</span>
                            <div class="img-block">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="text">
                            <p>{{{text-r-1}}}</p>
                            <p>{{{text-l-2}}}</p> 
                        </div>
                    </div>
                    <p class="bottom-text">{{{text-bottom}}}</p>
                </div>
            </div>
            {{/step-6}}

        </div>
        {{/aeroport-lviv}}
        <!-- end presentation -->

        <!-- view more works -->
        <div class="portfolio-theme-wrapper"> 
            <h3>View more works</h3>
            <div class="row projects-list">

            </div>
        </div>
        <!-- stop view more works -->
    </div>
</div>
