<div class="portfolio-single-page underlviv-color">
    <!-- header-project -->
    <div class="header-project">
        <div class="row">

            <!--Need to move this block to app/pages/NAME_of_this_page - after changes here-->
            <div class="name-project"> 
                <span class="close-page"></span>
                <h1>{{name}}</h1> 
                <span class="open-meta"></span>
            </div>
            <div class="meta-container">
                <div class="project-meta-block">
                    <div class="description">
                        {{#description}}
                        <span>Опис:</span>
                        <p>{{description}}</p>
                        {{/description}}
                    </div>
                    <div class="tags">
                        {{#fields}}
                        <a href="#">{{.}}</a>
                        {{/fields}}
                    </div>
                    <div class="team">
                        <span>Команда:</span>  
                        {{#owners}}
                        <div class="team-member">
                            <img src="{{images.115}}" alt="{{display_name}}">
                            <span>{{display_name}}</span>
                        </div>
                        {{/owners}}
                    </div>
                </div>
            </div>
            <!--end Need to move this block to app/pages/NAME_of_this_page - after changes here-->

            <div class="wrapper">
                <div class="img-block">
                    <img src="../../../pictures/portfolio/underlviv/img-projekt.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- stop header-project -->

    <!-- presentation -->
    {{#underlviv}}
    <div class="presentation-underlviv">

        {{#step-1}}
        <div class="step-1">
            <div class="row">
                <div class="text">
                    <h3>{{{title}}}</h3>
                    <h2>{{{subtitle}}}</h2>
                    <p>{{{text}}}</p>
                </div>
                <div class="basic-animation wow">
                    <div>
                        <img class="anim-1" src="../../../pictures/portfolio/underlviv/basic-animation/slide-1.png" alt="">
                        <img class="anim-2" src="../../../pictures/portfolio/underlviv/basic-animation/slide-2.png" alt="">
                        <img class="anim-3" src="../../../pictures/portfolio/underlviv/basic-animation/slide-3.png" alt="">
                        <img class="anim-4" src="../../../pictures/portfolio/underlviv/basic-animation/slide-4.png" alt="">
                    </div>
                </div>
                <div class="part">
                    <img src="../../../pictures/portfolio/underlviv/step-1-page-2.png" alt="">
                    <table>
                        {{#part}}
                        <tr>
                            <td>{{{title}}}</td>
                            <td>{{{value}}}</td>
                        </tr>
                        {{/part}}
                    </table>
                </div>
            </div>
        </div>
        {{/step-1}}

        <div class="row top-line">
            <div class="bg-line">
                <span class="line-1"></span>
                <span class="line-2"></span>
            </div>
        </div>

        {{#step-2}}
        <div class="step-2">
            <div class="row">
                <div class="bg-line">
                    <span class="line-3"></span>
                </div>
                <div class="home-animation wow">
                    <img class="anim-1" src="../../../pictures/portfolio/underlviv/anim-1.png" alt="">
                    <img class="anim-2" src="../../../pictures/portfolio/underlviv/anim-2.png" alt="">
                    <img class="anim-3" src="../../../pictures/portfolio/underlviv/anim-3.png" alt="">
                </div>
                <div class="text wow">
                    <h2>{{{title}}}</h2>
                    <p>{{{text}}}</p>
                </div>
            </div>
        </div>
        {{/step-2}}

    </div>
    {{/underlviv}}
    <!-- end presentation -->

    <!-- view more works -->
    <div class="portfolio-theme-wrapper">
        <h3>View more works</h3>
        <div class="row projects-list">

        </div>
    </div>
    <!-- stop view more works -->
</div>
