<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="portfolio-theme">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bambus</title>
    <link rel="stylesheet" href="../../../css/app.css">
    <script src="../../../bower_components/flexswipe/swipe.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

</head>
<body>
    <!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true" rel=="external">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->





<!--    header-project-->
    <div class="header-project pizza-color wow ">
        <div class="row">
            <div class="name-project">
                <span class="close-page"></span>
                <h1>Pizza 123 «celentano»</h1>
            </div>
            <div class="wrapper">
                <div class="details">
                    <div class="clearfix">
                        <div class="control">
                            <a class="left-button"></a>
                            <a class="right-button"></a>
                        </div>
                        <a href="" class="link" target="_blank">123pizza.com.ua</a>
                    </div>
                    <div class="customer">
                        <p class="title">Замовник:</p>
                        <p>"Риба" не тільки успішно пережила п'ять століть</p>
                    </div>
                    <div class="problem">
                        <p class="title">Задача:</p>
                        <p>Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому.</p>
                    </div>
                    <div class="tags">
                        <p class="title">Теги:</p>
                        <div class="block-tags">
                            <a href="">pizza hut</a>
                            <a href="">food</a>
                            <a href="">italian</a>
                            <a href="">delovery</a>
                            <a href="">packaging</a>
                            <a href="">express</a>
                            <a href="">speed</a>
                        </div>
                    </div>
                    <div class="team">
                        <p class="title">Команда:</p>
                        <div class="block-team">
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                            <span class="person">
                                <div class="img">
                                    <img src="../../../img/portfolio/team-1.png" alt="">
                                </div>
                                <div class="name">
                                    <span>Менеджмент</span>
                                    <p>Кучеренко Олесь</p>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="visual">
                    <span class="data">01.01.2014</span>
                    <div class="img-block">
                        <img src="../../../img/portfolio/pizza123/img-projekt.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    stop header-project-->
    
<!--    presentation-->
    <div class="presentation-pizza">
        <div class="row">
            <h1 class="presentation-pizza-title">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letter.</h1>
            <div class="step-1">
                <div class="text-block">
                    <span>1</span>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                </div>
                <img src="../../../img/portfolio/pizza123/presentation-1.jpg" alt="">
            </div>

            <div class="step-2">
                <div class="text-block">
                    <span>2</span>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                </div>
                <img src="../../../img/portfolio/pizza123/presentation-2.jpg" alt="">
            </div>

            <div class="step-3">
                <div class="text-block">
                    <span>3</span>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                </div>
                <img src="../../../img/portfolio/pizza123/presentation-3.jpg" alt="">
            </div>

            <div class="step-4">
                <div class="text-block">
                    <span>4</span>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                </div>
                <img src="../../../img/portfolio/pizza123/presentation-4.jpg" alt="">
            </div>
            
            <div class="step-5">
                <div class="text-block">
                    <span>4</span>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.</p>
                </div>
                <div class="technological">
                    <div class="tech-wrapper">
                        <div class="text">
                            <h3>Technological features of the site</h3>
                            <p>Серверна частина (back end), а такох лицева частина сайту (front end) збудована на основі найсучасніших технологічних рішень</p>
                        </div>
                            <div class="wrapper-item clearfix">
                            <div class="item item-1">
                                <p>фреймворк на якому написана<br>серверна частина сайту</p>
                            </div>
                            <div class="item item-2">
                                <p>технології що використані у фронтенті<br>(html5, javascript, css3)</p>
                            </div>
                            <div class="item item-3">
                                <p>графічні елементи виконані у форматі<br>(SVG - Scalable Vector Graphics)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    stop presentation-->

<!--    view more works-->
     <div class="portfolio-theme-wrapper">
         <h3>View more works</h3>
         <div id="portfolio" class="portfolio-page">
            <div class="row" id="porfolio-list">
                <div class="columns large-12">

                    <div class="visible work" id="work">
                        <a href="" class="echo-loaded">
                            <img src="http://lorempixel.com/520/400/technics/" data-echo="">
                            <span class="description">
                                <span class="name">{{name}}</span>
                            </span>
                        </a>
                    </div>
                    <div class="visible work" id="work">
                        <a href="" class="echo-loaded">
                            <img src="http://lorempixel.com/517/405/technics/" data-echo="">
                            <span class="description">
                                <span class="name">{{name}}</span>
                            </span>
                        </a>
                    </div>
                    <div class="visible work" id="work">
                        <a href="" class="echo-loaded">
                            <img src="http://lorempixel.com/515/400/technics/" data-echo="">
                            <span class="description">
                                <span class="name">{{name}}</span>
                            </span>
                        </a>
                    </div>
                    <div class="visible work" id="work">
                        <a href="" class="echo-loaded">
                            <img src="http://lorempixel.com/520/402/technics/" data-echo="">
                            <span class="description">
                                <span class="name">{{name}}</span>
                            </span>
                        </a>
                    </div>
                    <div class="visible work" id="work">
                        <a href="" class="echo-loaded">
                            <img src="http://lorempixel.com/518/400/technics/" data-echo="">
                            <span class="description">
                                <span class="name">{{name}}</span>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!--    stop view more works-->






<script data-main="../../../js/app/main.js" src="../../../bower_components/requirejs/require.js"></script>
<script src='//localhost:3000/socket.io/socket.io.js'></script>
<script src='//localhost:3001/client/browser-sync-client.min.js'></script>

</body>
</html>