<div class="portfolio-single-page behance-theme {{whitepage}}">
    <!-- Do not add headers to this file! Contact Roman Taraban for details -->
    <div class="wrapper-holder" style="{{#styles.background.color}}background-color:#{{.}}{{/styles.background.color}}; {{#backImage}}background-image:url('{{.}}'){{/backImage}}">
        <!--    header-project-->
        <div class="header-project">
            <div class="row">

                <div class="name-project"> 
                    <span class="close-page"></span>
                    <h1>{{name}}</h1> 
                    <span class="open-meta"></span>
                </div>
                <div class="meta-container">
                    <div class="project-meta-block">
                        
                        <span class="project-name-header">{{name}}</span>
                        
                        <div class="description">
                            {{#description}}
                                <p>{{description}}</p>
                            {{/description}}
                        </div>
                        
                        <div class="tags">
                            {{#fields}}
                            <a href="#">{{.}}</a>
                            {{/fields}}
                        </div>
                        
                        <div class="team">
                            <span>Команда:</span>  
                            {{#owners}}
                            <div class="team-member">
                                <img src="{{images.115}}" alt="{{display_name}}">
                                <span>{{display_name}}</span>
                            </div>
                            {{/owners}}
                        </div>
                    </div>
                </div>

 
            </div>
        </div>
        <!--    stop header-project-->

        <!--    presentation-->
        <div class="presentation">
            <style>
                {{#modules}}
                .module-block .title{
                    color: {{styles.text.title.color}} 
                }
                .module-block .sub-title{
                    color: {{styles.text.subtitle.color}} 
                }
                {{/modules}}
            </style>
            <div class="row">

                <div class="module-block">
                    {{#preview.sizes.max_1920}}
                    <img src="{{preview.sizes.max_1920}}">
                    {{/preview.sizes.max_1920}}

                    {{^preview.sizes.max_1920}}
                    <img src="{{preview.sizes.original}}">
                    {{/preview.sizes.max_1920}}
                </div>

                {{#modules}}
                <div class="module-block" style="text-align: {{alignment}};">
                    {{#text}} {{{.}}}  {{/text}}

                    {{#sizes.max_1920}}
                    <img src="{{sizes.max_1920}}" alt="">
                    {{/sizes.max_1920}}

                    {{^sizes.max_1920}}
                    <img src="{{sizes.original}}" alt="">
                    {{/sizes.max_1920}}
                </div>
                {{/modules}}

            </div>
        </div>
        <!--    stop presentation--> 

        <!--    view more works-->
        <div class="portfolio-theme-wrapper">
            <h3>View more works</h3>
            <div class="row projects-list">

            </div>
        </div>
        <!--    stop view more works-->
    </div>
</div>
