.service-web-page {
    .intro {
        .image-small {
            padding: 0;
        }
        img {
            display: none;
            margin-top: 32px;
        }
        @media only screen and (max-width: 840px) {
            height: auto;
            .columns {
                width: 100%;
                float: none;
                background: $charcoal;
                .text-holder {
                    position: relative;
                    top: 0;
                    padding: 60px 4px 10px;
                    transform: translate(0px);
                    .button {
                        display: none;
                    }
                }
                #panda-lines, .gradien-fix {
                    display: none !important;
                }
                img {
                    display: block;
                }
            }
            .scroll-icon {
                top: 160px !important;
                @media only screen and (max-width: 460px) {
                    display: none;
                }
            }
        }
    }
    .intro-top {
        .image-small, .text {
            width: 100%;
            @media only screen and (min-width: 841px) {
                width: 50%;
            }
        }
        .text {
            transform: translateZ(0);
        }
    }
}