.service-web-page {
    .vectors {
        background: $green;
        padding-bottom: 60px;
        .heading {
            color: white;
        }
        .back {
            background: white;
            color: inherit;
        }
    }
}