<section id="contacts" class="contacts-page">
    <div id="map"></div>
    <div class="sidebar">
       <div class="step">
            <div class="img-block">
               <img src="/pictures/contacts/office.jpg" alt="">
            </div>
        </div>
        <div class="step">
            <h2>{{contaсts.text.node1}}</h2>
            <form class="inputs" name="map-input-form">
                <div class="types clearfix"> 
                    <span class="type type-1">
                        <input type="radio" name="map-input-mode" value="WALKING" id="map-input-1" checked>
                        <label for="map-input-1" title="{{contaсts.text.node2}}"></label>
                    </span>
                    <span class="type type-2">
                        <input type="radio" name="map-input-mode" value="BICYCLING" id="map-input-2">
                        <label for="map-input-2" title="{{contaсts.text.node3}}"></label>
                    </span>
                    <span class="type type-3">
                        <input type="radio" name="map-input-mode" value="DRIVING" id="map-input-3">
                        <label for="map-input-3" title="{{contaсts.text.node4}}"></label>
                    </span>
                </div>
                <div class="targets">
                    <label for="">
                        <input type="text" name="map-input-start" placeholder="{{contaсts.text.node5}}">
                    </label>
                    <label for="">
                        <input type="text" disabled value="{{contaсts.text.node6}}">
                    </label>
                </div>
                <button type="button" id="map-go" title="Вйо до студії!"><span></span></button>
            </form>
        </div>
        <div class="step address">
            <h2>{{contaсts.text.node7}}</h2>
            <p>
                {{contaсts.text.node8}}<br>
                {{contaсts.text.node81}}<br>
                {{contaсts.text.node82}}<br>
            </p>
            <h2>{{contaсts.text.node9}}</h2>
            <p>{{contaсts.text.node10}}<br>
                <a href="mailto:office.bambuk@gmail.com" target="_blank">office.bambuk@gmail.com</a>
            </p>
        </div>
        <div class="step coordinates">
            <h2>{{contaсts.text.node11}}</h2>
            <p>49°49’44.7’’ N</p>
            <p>23°59’40.6’’ E</p>
        </div>
        <div class="step social clearfix">
            <a href="https://www.facebook.com/bambukdesignstudio" class="facebook-icon" rel="external" title="Bambus at Facebook"></a>
            <a href="https://www.youtube.com/user/bambukyt" class="youtube-icon" rel="external" title="Watch us on Youtube"></a>
        </div> 
    </div>
</section>