{{#home}}
   <article id="home" class="home-page">
   <a class="cta hide-for-small" href="/about"><span class="text">{{cta}}</span></a>
    <div id="slider" class="slider">
        {{#slider}}
        <section> 
            <picture>
                <source srcset="{{{img_src_mobile}}}" media="(orientation:portrait)">
                <img srcset="{{{img_src}}}" alt="{{img_alt}}">
            </picture>
            <div class="description-holder">
                <div class="description hide-for-small">
                    <h1 class="heading">{{heading}}</h1>
                    <p class="text">{{text}}</p>
                </div>
                <a href="/showreel" class="view-showreel">{{showreel}}</a>
            </div>
        </section>
        {{/slider}}
    </div>
</article>
{{/home}}
