{{#mainmenu}}
<div class="menu-panel">
    <div id="menu-wrapper" class="hide">
        <div id="menu">
            <a href="/contacts" class="contact-link">{{contacts}}</a>
            <a href="/" class="logo">design studio</a>
            <nav>
                <ul class="main-menu menu-list">
<!--                    <li><a href="/home" class="show-for-small">{{home}}</a></li>-->
                    <li><a href="/about">{{about}}</a></li>
                    <li><a href="/portfolio">{{portfolio}}</a></li>
                    <li class="parent-link">
                        <a href="#">{{services}}</a>
                        <ul class="submenu">
                            {{#services_list}}
                            <li><a href="{{path}}" id="link-{{slug}}">{{name}}</a></li>
                            {{/services_list}}
                        </ul>
                    </li>
                    <li><a href="/showreel">{{showreel}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="line"></div>
    <div class="menu-icon"></div>
</div>
{{/mainmenu}}
