<div id="notfound404" class="not-found-page">
    <div class="container">
        <a class="logo" href="/">design studio</a>
        <div class="text-messages">
            <div class="animation-text-404">
                <canvas id="animation404" width="580" height="340"></canvas>
            </div>
            <div class="info-text">
                <span class="first-text">{{{404page.text.alert-text}}}</span>
                <span class="second-text">{{{404page.text.massage-text}}}</span>
                <span class="third-text">{{{404page.text.notfound-text}}}</span>
                <a href="/portfolio" class="button green">portfolio</a>
            </div>
        </div>
    </div>
</div>

