<div id="team-switch">
    <div class="title">{{about.team.switch.title}}</div>
    <div class="graph">
        <div class="icons">
            <div data-type="bicycle"><span>{{about.team.switch.icons.bicycle}}</span>{{> ../../img/about/icons/switch/bicycle.svg }}</div>
            <div data-type="cakes"><span>{{about.team.switch.icons.cakes}}</span>{{> ../../img/about/icons/switch/coocking.svg }}</div>
            <div data-type="games"><span>{{about.team.switch.icons.games}}</span>{{> ../../img/about/icons/switch/eagames.svg }}</div>
            <div data-type="music"><span>{{about.team.switch.icons.music}}</span>{{> ../../img/about/icons/switch/guitar.svg }}</div>
            <div data-type="cloth"><span>{{about.team.switch.icons.cloth}}</span>{{> ../../img/about/icons/switch/handmade.svg }}</div>
            <div data-type="love"><span>{{about.team.switch.icons.love}}</span>{{> ../../img/about/icons/switch/love.svg }}</div>
            <div data-type="psyho"><span>{{about.team.switch.icons.psyho}}</span>{{> ../../img/about/icons/switch/psyho.svg }}</div>
            <div data-type="ski"><span>{{about.team.switch.icons.ski}}</span>{{> ../../img/about/icons/switch/ski.svg }}</div>
            <div data-type="travel"><span>{{about.team.switch.icons.travel}}</span>{{> ../../img/about/icons/switch/travel.svg }}</div>
            <div data-type="yoga"><span>{{about.team.switch.icons.yoga}}</span>{{> ../../img/about/icons/switch/yoga.svg }}</div>
        </div>
        <div class="people">
            <div class="man left"> 
                <span></span> 
                <span></span>
                <span></span> 
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div><div class="large"></div> чоловіків</div>
            </div>
            <div class="women rigth">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div>жінок <div class="large"></div></div>
            </div>
        </div>
    </div>
</div>
