@import "images";
@import "commonstyles";
@import "projects/underlviv";
@import "projects/aeroport";

.portfolio-page { 
    /* page appear section */
    @include page(portfolio);
    /* page appear end */
    padding: 48px 40px 0 40px; 
    @media only screen and (max-width:720px){
        padding: 38px 10px 0; 
    }
}

.projects-list{
    height: auto !important;
    margin: 48px auto; 
    padding: 0 40px;
    max-width: 1600px !important;
    text-align: center;
    .item-block{
        display: inline-block;
        width: auto;
        margin-bottom: 48px;
        padding: 0 24px 0 24px;
        overflow: hidden;
        position: relative;

        &:hover{
            .title{
                display: block !important;
            }
        }

        @for $i from 1 through 9 {
            &:nth-child( #{$i} ) a {
                transition-delay: $i*$p-t-t/9;
            }
        }
        a{
            display: block;
            transform: translateZ(0);

            @extend %block-slide-hover-animation;

        }
        .front-wrapper {
            opacity: 0;
            transform: translate3d(0,0,0) !important;
            img{
                max-width: 100% !important;

            }
        }
        .back{
            // when we add translaZ to parent - it magicaly fix sizing to exact what we need
            //width: calc( 100% - 48px ) !important;
            //            margin-left: 24px;
            background: rgba(0,0,0,.75);
            .title{
                display: none;
            }
        }
        .title {
            text-align: center;
            font-size: 28px;
            font-weight: 100;
            font-family: $title-font-family;
            width: 100%;
            display: block;
            text-transform: uppercase;
            @media only screen and (max-width:1366px){
                font-size: 14px;
            }
        }
        .echo-loaded {
            transform: translate3d(0,0,0);
            opacity: 1;
            img{
                opacity: 1;
            }
        }
        @media only screen and (max-width:1516px){
            margin-bottom: 24px;
            padding: 0 12px;
            width: 33%;
        }
        @media only screen and (max-width:720px){
            width: 50%;
        }
        @media only screen and (max-width:480px){
            width: 100%;
        }
    }    
    @media only screen and (max-width:860px){
        padding: 0;
    }
}

.portfolio-filters{
    position:relative;
    z-index:1;
    padding: 0 64px;
    opacity:1;
    transition:opacity $p-t-t, transform $p-t-t;
    transition-delay: 1s;
    button{
        background:rgba(0,0,0,.15);
        height:32px;
        text-transform:uppercase;
        text-align:center;
        line-height:32px;
        font-size:15px;
        font-family:$title-font-family;
        font-weight:100;
        margin-right:8px;
        margin-bottom: 12px;
        color:white;
        border:none;
        width:152px;
        display:inline-block;
        transition:background-color $p-t-t*1.5;
        outline: none;
        &:hover,&.active{
            transition:background-color .3s;
            background-color:$green;
        }
    }    
    @media only screen and (max-width:720px){
        padding: 0 0 0 50px;
        text-align: right;
    }
}
